<!DOCTYPE html>

<html ng-app="kittiesApp">
	<head>
		<meta charset="utf-8">

		<title>Cat Adoption</title>

		<!--[if lt IE 9]>
		<script src="js/html5shiv.js"></script>
		<![endif]-->

		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
		<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
		
		<script src="js/angular.js"></script>
		<script src="js/main.js"></script>
		<script src="js/KittiesController.js"></script>
	</head>

	<body ng-controller="KittiesController as kitties">
		<div id="container">
			<div class="left-container">
				<h1>
						Kitties for Adoption
				</h1>
				<div class ="dashed" ng-repeat="cats in kitties.kittiesList | filter:{adopted:false}">
					<h4>
						My name is {{cats.catName}}
					</h4>
					<h5>
						I am {{cats.monthsOld}} old.
					</h5>
					<h5>
						I am {{cats.gender}}
					</h5>
					<img ng-src="{{cats.image}}">
						
					</img>
					</br>
					<h5>Adopt?</h5>
					<input class="checkbox" type="checkbox" ng-model="cats.adopted"
					 >

					
				</div>
			</div>
			<div  class="right-container">
					<h1>
						At their forever homes 
					</h1>
					<div class ="dashed" ng-repeat="cats in kitties.kittiesList| filter:{adopted:true}">
					<h4>
						My name is {{cats.catName}}
					</h4>
					<h5>
						I am {{cats.monthsOld}} old.
					</h5>
					<h5>
						I am {{cats.gender}}
					</h5>
					<img ng-src="{{cats.image}}">
						
					</img>
					</br>
					<h5>Adopt?</h5>
					<input class="checkbox" type="checkbox" ng-model="cats.adopted">
			</div>
	</body>
</html>
